header{
    background-color: #BBBBBB;
    padding:20px 0;
}
.caixa{
    margin: 0 auto;
    position: relative; 
    /* ta com relative, pra tabela que é absoluta, 'entrar' na caixa */
    width: 940px;
}
nav{
    position:absolute;
    top:110px;
    right:0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color:#000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
/* 
    position: static - o elemento nasce de acordo com o html
    position: relative - o elemento pode ter a sua posição alterada de acordo com a sua localização no html
    position: absolute - o elemento pode ter sua localização alterada de acordo com o documento inteiro, desprezando o html
*/