body{
    margin: 0;
}
#banner{
    width: 100%;
}
header{
    background-color: #BBBBBB;
    padding: 20px 0;
}
.caixa{
    width:940px;
    margin: 0 auto;
    position:relative;
}
nav{
    position:absolute;
    top:110px;
    right:0;
}
nav li{
    display:inline;
    padding: 0 0 0 15px;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}
nav a:hover{
    /* text-decoration: underline; */
    color: #C78C19;
    transition-duration: 0.1s;
}


.principal{
    background-color: #CCCCCC;
    padding: 30px;
}
.titulocentralizado{
    text-align: center;
}
#missao{
    font-size: 20px;
}
em strong{
    color: red;
}
.beneficios{
    background-color: #FFFFFF;
    padding: 20px;
}
.beneficios ul{
    display:inline-block; 
    /*  Inline - toma a linha inteira
        Block - se encaixa do lado dos outros conteudos, mas nao permite mexer com espaçamentos
        inline-block - se encaixa do lado dos outros conteudos e permite alteração de espaçamentos */
        vertical-align: top;
        width:20%;
        margin-right:15%;
}
.itens{
    font-style: italic;
}
.imagembeneficios{
    width: 50%;
}

footer{
    background: url(./img/bg.jpg);
    padding: 40px;
    text-align: center;
}
footer img{
    margin: 0 auto;
}
footer p{
    padding-top: 20px;
    color: white;
    font-size: 13px;
}