body{
    font-family: 'Montserrat', sans-serif;
    background:#FEFEFE;
}
header{
    background-color: #BBBBBB;
    padding:20px 0;
}
.caixa{
    margin: 0 auto; /*deixou os elementos filhos centralizados*/
    position: relative; 
    /* ta com relative, pra tabela que é absoluta, 'entrar' na caixa */
    width: 940px;
}
nav{
    position:absolute;
    top:110px;
    right:0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color:#000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}
/* 
    position: static - o elemento nasce de acordo com o html
    position: relative - o elemento pode ter a sua posição alterada de acordo com a sua localização no html
    position: absolute - o elemento pode ter sua localização alterada de acordo com o documento inteiro, desprezando o html
*/
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px; 
    box-sizing: border-box; 
    /* box-sizing: border-box - nesse caso, quando determinamos o width em 30% mais um padding, por padrão o CSS soma esses valores. Com o border-box, o CSS entende que o padding já está dentro desses 30%. */
    border: 2px #000000 solid;
    border-radius: 10px;
}
.produtos li:hover{
    border-color: #C78C19;
    /* transition-duration: 0.1s; */
}
.produtos li:hover h2{
    /* transition-duration: 0.3s; */
    font-size: 34px;
}
.produtos li:active{
    border-color: #088C19;
    /* transition-duration: 0.1s; */
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao{
    font-size:18px;
}
.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}
footer{
    text-align: center;
    background: url(./img/bg.jpg);
    padding: 40px 0;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}
form{
    margin: 40px 0;
}
form label, form legend{
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padrao {
    display:block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}
.enviar{
    width:40%;
    padding: 15px 0;
    font-size: 13px;
    background-color: orange;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
}
.enviar:hover{
    background-color: darkorange;
    transform: scale(1.2); /*poderia usar o rotate(Xdeg) pra rodar o elemento*/
}
table{
    margin: 20px 0;

}
thead{
    background-color: #555555;
    color: white;
    font-weight: bold;
}
th, td{
    border: 1px solid #000000;
    padding: 8px 15px; 
}
/* 
    CSS da página inicial    
*/
.banner{
    width: 100%;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;/*O em é unidade de medida relativa. Ela representa a medida da fonte do ELEMENTO PAI*/
    margin: 0 0 1em; /* top | horizontal | bottom */
    clear: left;
    /* color: rgba(0, 0, 0, 0.9);  */
}
.utensilios{
    width: 80px;
    float: left;
    margin: 0 20px 10px 0;
}
.principal{
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style:italic;
}

.beneficios{
    padding: 3em 0;
    background: #494848;
    /* box-shadow: inset 0 0 10px 20px rgba(255,255,255, 0.5); */
}
.conteudo-beneficios{
    width:940px;
    margin: 0 auto;
    padding: 3em 0;
}
.lista-beneficios{
    width:40%;
    display:inline-block;
    vertical-align: top;
}
.itens{
    line-height: 1.5em;
    /* text-shadow: 5px 5px 5px white; */
}
.itens:before{
    content: "★ "
}
.itens:first-child{
    /* a pseudoclasse :first-child pega a primeira ocorrencia de um item e aplica uma estilização (existe o last-child e o nth-child(n) */
    font-weight: bold;
}
.imagem-beneficios{
    width: 60%;
    opacity: 1;
    
    transition: 0.5s;
    /* box-shadow: 10px 20px 20px 5px #FFFFFF,
                -10px 10px 10px yellow,
                30px -20px 5px 6px red; */
}
.imagem-beneficios:hover{
    opacity: 0.3;
}
.mapa{
    padding: 3em 0;
    text-align: center;
    background: linear-gradient(#FEFEFE, #494848);
}
.mapa p{
    margin: 0 0 2em;
}
.mapa-conteudo{
    margin: 0 auto;
    width:940px;
}
.video{
    width: 560px;
    margin: 2em auto;
}

/* Testes da aula 4 */
/* main > p{
    background: #088C19;
}
img + p{
    background: gray;
}
img ~ p{
    background: orange;
}
.principal p:not(#missao){
    background: red;
} 
.principal img{
    width: calc(50% - 300px);
}
*/